.productitem {
  width: 100%;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-shadow: 0 1px 2px 0 #e9e9e9;
}
.qtycart {
  align-items: center;
  margin-top: 17px;
}
.cart-btn:disabled {
  background-color: #2b2f4c;
}
.cart-btn {
  width: 80%;
  background-color: #f55d2c;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
}
.p-image {
  border-radius: 10px;
}
.added-cart-btn {
  background-color: rgba(21, 21, 128, 0.63);
  border: 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  margin: 10px;
}
